body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
}

h1{
  text-align:center;
  margin-top:100px;
  font-size:48px;
}

p{
  text-align:center;
  font-size:20px;
}

nav{
  background:#111827;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 40px;
}

nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

nav li{
  cursor:pointer;
}

nav li:hover{
  color:#38bdf8;
}
section{
    text-align: center;
    margin-top: 80px;
}

section h1{
    font-size: 60px;
    margin-bottom: 15px;
}

section h2{
    font-size: 30px;
    color: #38bdf8;
    margin-bottom: 20px;
}

section p{
    font-size: 20px;
    margin-bottom: 30px;
}

section button{
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: white;
    cursor: pointer;
}

section button:hover{
    background: #0284c7;
}